*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    transition: all 1s ease-in-out;
}
.contaner{
    width: 100%;
    min-height: 100vh;
    background: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card{
    width: 90%;
    max-width: 450px;
    color: #fff;
    border-radius: 2rem;
    background: linear-gradient(135deg, #00feba, #5b548a);
    padding: 2.5rem 2rem;
    text-align: center;
}
.search-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.search-bar input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 0.875rem 2rem;
    height: 3.75rem;
    border-radius: 2rem;
    flex: 1;
    font-size: 0.8rem;
}
.search-bar button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-bar button img{
    width: 0.875rem;
}
.weather-icon{
    width: 170px;
    margin-top: 85px;
}
.temp{
    font-size: 1.953rem;
    font-weight: 500;
}
.city{
    font-size: 3.815rem;
    font-weight: 300;
}
.details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding-inline: 20px;
}
.col{
    margin-top: 85px;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 0.975rem;
}
.col p{
    font-size: 1rem;
}
.col img{
    width: 40px;
}
.humidity, .wind{
    font-size: 1.25rem !important;
    font-weight: 800;  
}
.weather{
    display: none;
}
.error{
    margin-block-start: 3rem;
    font-size: 1rem;
    display: none;
}

@media(max-width: 430px){
    .card{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .search-bar input{
        padding-block: 1rem;
        font-size: 0.8rem;
        flex-grow: 1;
        height: 2.75rem;
    }
    .search-bar button{
        width: 2.75rem;
        height: 2.75rem;
    }
    .weather-icon{
        width: 150px;
    }
    .city{
        font-size: 2.441rem;
        font-weight: 700;
    }
    .temp{
        font-size: 1.563rem;
        font-weight: 900;
    }
    .col p{
        font-size: 0.8rem;
        font-weight: 600;
    }
    .col img{
        width: 30px;
    }
    .humidity, .wind{
        font-size: 1rem !important;
        font-weight: 900;
    }
    .details{
        width: 100% !important;
        gap: 2rem;
        padding: 0;
    }
}
